# Node modules (dependencias instaladas)
node_modules/

# Build output (carpeta generada al hacer build)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store       # macOS
Thumbs.db       # Windows

# Archivos de entorno (NO subir tus variables sensibles)
.env
.env.local
.env.*.local

# IDEs y editores
.vscode/
.idea/

# Vite cache
.cache/
vite.config.ts

# Otros
*.log
